<div class="header-container" style="display:flex; align-items:stretch; box-sizing:border-box; border-bottom:1px solid #ccc; padding: 2px;">
  <div class="left" style="display:flex; flex-direction:column; justify-content:space-between; overflow:hidden; white-space: normal;">
    <div class="basic-info" style="flex-shrink:0;">
      <span style="display:inline-block; margin: 2px;">
        <button onclick="window.location='{{ url_for('index') }}'">戻る</button>
        Title: <input type="text" id="titleInput" value="{{ book_data.title|e }}" style="width:200px">
        FileName: {{ pdf_name }} / Update: {{ updated_date }}
      </span>
      <span style="display:inline-block; margin: 2px;">
        <button onclick="extractParagraphs()" style="border: 2px solid #e74c3c">1.パラグラフ抽出</button>
        <button onclick="dictCreate()">(辞書抽出)</button>
        <button onclick="dictTrans()">(辞書翻訳)</button>
        <button onclick="dictReplaceAll()" style="border: 2px solid #3498db">2.全対訳置換</button>
        <button onclick="autoTagging()">(自動タグ付け)</button>
        <button onclick="transAllPages()" style="border: 2px solid #ff9800; font-weight: bold;">3.全翻訳</button>
        <button onclick="saveStructure()" hidden>4.構成ファイル出力</button>
        <button onclick="exportHtml()" style="border: 2px solid #2ecc71;">5.対訳ファイル出力</button>
        <button onclick="fetchBookData()" hidden>リロード</button>
        <button id="renderButton" hidden>レンダリング</button>
      </span>
    </div>
    <div class="controls" style="flex-shrink:0;">
      <span style="display:inline-block; margin: 2px;">
        <label><input type="checkbox" id="toggleTocPanelCheckbox" class="restoreCheckboxState"> 目次</label>
        <label><input type="checkbox" id="togglePdfPanelCheckbox" class="restoreCheckboxState" checked> PDF</label>
        <button onclick="prevPage()">◀</button>
        <input type="number" id="pageInput" value="1" min="1" max="1" 
              style=" vertical-align:middle; font-size:120%; width: 60px; text-align: center; border: 2px solid; " onchange="jumpToPage(this.value)">
        <span>/</span>
        <span id="pageCount">1</span>
        <button onclick="nextPage()">▶</button>
      </span>
      <span style="display:inline-block; margin: 2px;">
        <button id="pageTransButton" style="border: 2px solid #ff9800; font-weight: bold;">ページ翻訳</button>
        <label><input type="checkbox" id="toggleSrcHtmlCheckbox" class="restoreCheckboxState"> Html</label>
        <label><input type="checkbox" id="toggleSrcCheckbox" class="restoreCheckboxState"> 原文</label>
        <label><input type="checkbox" id="toggleSrcReplacedCheckbox" class="restoreCheckboxState" checked> 置換文</label>
        <label><input type="checkbox" id="toggleTransAutoCheckbox" class="restoreCheckboxState" checked> Auto</label>
        <label><input type="checkbox" id="toggleTransCheckbox" class="restoreCheckboxState" checked> 訳文</label>
      </span>
      <table class="trans_status_counts" style="display:inline-block; vertical-align:middle; border:1px solid #000; border-collapse:collapse; font-size:80%; margin: 2px;">
        <tr>
          <th>none</th>
          <td style="padding:0 5px;" id="countNone">0</td>
          <th>auto</th>
          <td style="padding:0 5px;" id="countAuto">0</td>
          <th>draft</th>
          <td style="padding:0 5px;" id="countDraft">0</td>
          <th>fixed</th>
          <td style="padding:0 5px;" id="countFixed">0</td>
        </tr>
      </table>
      <button id="saveOrderButton">順序保存</button>
    </div>
  </div>
</div>

<!-- 
<rect x="10" y="10" width="430" height="100" rx="15" ry="15" fill="#e74c3c" />
<rect x="10" y="120" width="430" height="100" rx="15" ry="15" fill="#3498db" />
<rect x="10" y="230" width="430" height="100" rx="15" ry="15" fill="#f39c12" />
<rect x="10" y="340" width="430" height="100" rx="15" ry="15" fill="#2ecc71" /> -->