<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>PDF ParaParaTrans - メイン画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tocPanel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/srcPanel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auto-toggle.css') }}">
    <script src="{{ url_for('static', filename='js/auto-toggle.js') }}"></script>    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <style class="book-data-head-styles"></style>   
</head>

<body data-pdf-name="{{ pdf_name }}">
    <div class="header-container" style="display:flex; align-items:stretch; box-sizing:border-box; border-bottom:1px solid #ccc; padding: 2px;">
        <div class="left" style="display:flex; flex-direction:column; justify-content:space-between; overflow:hidden; white-space: normal;">
          <div class="basic-info" style="flex-shrink:0;">
            <span style="display:inline-block; margin: 2px;">
              <button onclick="window.location='{{ url_for('index') }}'">戻る</button>
              Title: <input type="text" id="titleInput" value="{{ book_data.title|e }}" style="width:200px">
              FileName: {{ pdf_name }} / Update: {{ updated_date }}
            </span>
            <span style="display:inline-block; margin: 2px;">
              <button onclick="extractParagraphs()" style="border: 2px solid #e74c3c">1.パラグラフ抽出</button>
              <button onclick="dictCreate()">(辞書抽出)</button>
              <button onclick="dictTrans()">(辞書翻訳)</button>
              <button onclick="dictReplaceAll()" style="border: 2px solid #3498db">2.全対訳置換</button>
              <button onclick="autoTagging()">(自動タグ付け)</button>
              <button onclick="transAllPages()" style="border: 2px solid #ff9800; font-weight: bold;">3.全翻訳</button>
              <button onclick="saveStructure()" hidden>4.構成ファイル出力</button>
              <button onclick="exportHtml()" style="border: 2px solid #2ecc71;">5.対訳ファイル出力</button>
              <button onclick="fetchBookData()" hidden>リロード</button>
              <button id="renderButton" hidden>レンダリング</button>
            </span>
          </div>
          <div class="controls" style="flex-shrink:0;">
            <span style="display:inline-block; margin: 2px;">
              <label><input type="checkbox" id="toggleTocPanelCheckbox" class="restoreCheckboxState"> 目次</label>
              <label><input type="checkbox" id="togglePdfPanelCheckbox" class="restoreCheckboxState" checked> PDF</label>
              <button onclick="prevPage()">◀</button>
              <input type="number" id="pageInput" value="1" min="1" max="1" 
                    style=" vertical-align:middle; font-size:120%; width: 60px; text-align: center; border: 2px solid; " onchange="jumpToPage(this.value)">
              <span>/</span>
              <span id="pageCount">1</span>
              <button onclick="nextPage()">▶</button>
            </span>
            <span style="display:inline-block; margin: 2px;">
              <button id="pageTransButton" style="border: 2px solid #ff9800; font-weight: bold;">ページ翻訳</button>
              <label><input type="checkbox" id="toggleSrcHtmlCheckbox" class="restoreCheckboxState"> Html</label>
              <label><input type="checkbox" id="toggleSrcCheckbox" class="restoreCheckboxState"> 原文</label>
              <label><input type="checkbox" id="toggleSrcReplacedCheckbox" class="restoreCheckboxState" checked> 置換文</label>
              <label><input type="checkbox" id="toggleTransAutoCheckbox" class="restoreCheckboxState" checked> Auto</label>
              <label><input type="checkbox" id="toggleTransCheckbox" class="restoreCheckboxState" checked> 訳文</label>
            </span>
            <table class="trans_status_counts" style="display:inline-block; vertical-align:middle; border:1px solid #000; border-collapse:collapse; font-size:80%; margin: 2px;">
              <tr>
                <th>none</th>
                <td style="padding:0 5px;" id="countNone">0</td>
                <th>auto</th>
                <td style="padding:0 5px;" id="countAuto">0</td>
                <th>draft</th>
                <td style="padding:0 5px;" id="countDraft">0</td>
                <th>fixed</th>
                <td style="padding:0 5px;" id="countFixed">0</td>
              </tr>
            </table>
            <span id="quickEditMode" class="auto-toggle" data-auto-toggle="storage:session;shortcut:ctrl+q">高速編集</span>
            <button id="saveOrderButton">順序保存</button>
          </div>
        </div>
      </div>

    <div class="container">
        <div id="tocPanel" class="panel">
          <span id="tocTrans" class="auto-toggle" data-auto-toggle="storage:local;shortcut:ctrl+q">原文/訳文</span>
          <button onclick="showToc('src')">[原文見出し]</button>
          <button onclick="showToc('trans')">[訳文見出し]</button>
          <div id="tocContent">(※実装中)</div>
        </div>

        <div id="resizer1" class="resizer"></div>

        <div id="pdfPanel" class="panel flex-panel" style="min-width: 20;">
            <iframe id="pdfIframe" style="width:100%; height:100%;"></iframe>
            <div id="overlay" class="overlay"></div>
        </div>

        <div id="resizer2" class="resizer"></div>

        <div class="panel flex-panel" id="srcPanel">
            <div id="srcParagraphs"></div>
        </div>
    </div>
  <script src="{{ url_for('static', filename='js/tocPanel.js') }}"></script>    
  <script src="{{ url_for('static', filename='js/pdfPanel.js') }}"></script>    
  <script src="{{ url_for('static', filename='js/srcPanel.js') }}"></script>    
  <script src="{{ url_for('static', filename='js/detail.js') }}"></script>    
  <script src="{{ url_for('static', filename='js/keyDown.js') }}"></script>    
  <script src="{{ url_for('static', filename='js/fetch.js') }}"></script>    
</body>

</html>
