<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>PDF ParaParaTrans - メイン画面</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='paraparatrans.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tocPanel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/srcPanel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/help-tooltip.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/auto-toggle.css') }}">
    <script src="{{ url_for('static', filename='js/auto-toggle.js') }}"></script>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hotkey-mapper.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <style class="book-data-styles"></style>   
    <script src="/static/js/floating_log.js"></script>

  </head>

<body data-pdf-name="{{ pdf_name }}">
    <div class="header-container" style="display:flex; align-items:stretch; box-sizing:border-box; border-bottom:1px solid #ccc; padding: 2px;">
        <div class="left" style="display:flex; flex-direction:column; justify-content:space-between; overflow:hidden; white-space: normal;">
          <div class="basic-info" style="flex-shrink:0;">
            <span style="display:inline-block; margin: 2px;">
              <button onclick="window.location='{{ url_for('index') }}'" data-help-id="back-to-index">戻る</button>
              Title: <input type="text" id="titleInput" value="{{ book_data.title|e }}" style="width:200px">
              FileName: {{ pdf_name }} / Update: {{ updated_date }}
            </span>
            <span style="display:inline-block; margin: 2px;">
              <button onclick="extractParagraphs()" style="border: 2px solid #e74c3c" data-help-id="extract-paragraphs">1.パラグラフ抽出</button>
              <button onclick="autoTagging()" data-help-id="auto-tagging">(自動タグ付け)</button>
              <button onclick="joinParagraphs()" data-help-id="join-paragraphs">(連結)</button>
              <button onclick="dictCreate()" data-help-id="create-dictionary">(辞書抽出)</button>
              <button onclick="dictTrans()" hidden data-help-id="translate-dictionary">(辞書翻訳)</button>
              <button onclick="dictReplaceAll()" style="border: 2px solid #3498db" data-help-id="replace-all-translations">2.全対訳置換</button>
              <button onclick="transAllPages()" style="border: 2px solid #ff9800; font-weight: bold;" data-help-id="translate-all-pages">3.全翻訳</button>
              <button onclick="saveStructure()" hidden data-help-id="save-structure">4.構成ファイル出力</button>
              <button onclick="exportHtml()" style="border: 2px solid #2ecc71;" data-help-id="export-html">5.対訳HTML出力</button>
              <button onclick="fetchBookData()" hidden data-help-id="reload-book-data">リロード</button>
              <button id="renderButton" hidden data-help-id="render-html">レンダリング</button>
            </span>
          </div>
          <div class="controls" style="flex-shrink:0;">
            <span style="display:inline-block; margin: 2px;">
              <span id="toggleTocPanel" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local" data-help-id="toggle-toc-panel">目次</span>
              <span id="togglePdfPanel" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local" data-help-id="toggle-pdf-panel">PDF</span>
              <button onclick="prevPage()" data-help-id="prev-page">◀</button>
              <input type="number" id="pageInput" value="1" min="1" max="1" 
                    style=" vertical-align:middle; font-size:120%; width: 60px; text-align: center; border: 2px solid; " onchange="jumpToPage(this.value)">
              <span>/</span>
              <span id="pageCount">1</span>
              <button onclick="nextPage()" data-help-id="next-page">▶</button>
            </span>
            <span style="display:inline-block; margin: 2px;">
              <button id="pageTransButton" style="border: 2px solid #ff9800; font-weight: bold;" data-help-id="translate-page">ページ翻訳</button>
              <span id="toggleSrcHtml" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local" data-help-id="toggle-src-html">Html</span>
              <span id="toggleSrcText" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local;default:true" data-help-id="toggle-src-text">原文</span>
              <span id="toggleSrcJoined" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local" data-help-id="toggle-src-joined">連結文</span>
              <span id="toggleSrcReplaced" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local" data-help-id="toggle-src-replaced">置換文</span>
              <span id="toggleTransAuto" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local" data-help-id="toggle-trans-auto">Auto</span>
              <span id="toggleTransText" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local;default:true" data-help-id="toggle-trans-text">訳文</span>
            </span>
            <table class="trans_status_counts" style="display:inline-block; vertical-align:middle; border:1px solid #000; border-collapse:collapse; font-size:80%; margin: 2px;">
              <tr>
                <th>none</th>
                <td style="padding:0 5px;" id="countNone">0</td>
                <th>auto</th>
                <td style="padding:0 5px;" id="countAuto">0</td>
                <th>draft</th>
                <td style="padding:0 5px;" id="countDraft">0</td>
                <th>fixed</th>
                <td style="padding:0 5px;" id="countFixed">0</td>
              </tr>
            </table>
            <button id="openLogButton" onclick="showLog()" data-help-id="open-log">Log</button>
            <button id="openHotKeyButton" onclick="HotkeyMapper.showHelpWindow()" data-help-id="open-hotkey-mapper">HotKey</button>
            <button id="saveOrderButton" data-help-id="save-structure-order">構造保存</button>
            <button id="show-full-help">Help</button>
          </div>
        </div>
      </div>

    <div class="container">
        <div id="tocPanel" class="panel">
          <div id="tocPanelHeader" class="panel-header" style="padding-left:10px; border-bottom: 1px solid">
            <span id="toggleTocPage" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local">Page</span>
            <span id="toggleTocSrc" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local">原文</span>
            <span id="toggleTocTrans" class="auto-toggle" data-auto-toggle="appearance:checkbox;storage:local">訳文</span>
          </div>
          <div class="toc-scroll-wrapper">
            <table class="tocTable">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <div id="resizer1" class="resizer"></div>

        <div id="pdfPanel" class="panel flex-panel" style="min-width: 20;">
            <iframe id="pdfIframe" style="width:100%; height:100%;"></iframe>
            <div id="overlay" class="overlay"></div>
        </div>

        <div id="resizer2" class="resizer"></div>

        <div class="panel flex-panel" id="srcPanel">
            <div id="srcParagraphs"></div>
        </div>
    </div>
  <script src="{{ url_for('static', filename='js/tocPanel.js') }}"></script>    
  <script src="{{ url_for('static', filename='js/pdfPanel.js') }}"></script>    
  <script src="{{ url_for('static', filename='js/srcPanel.js') }}"></script>    
  <script src="{{ url_for('static', filename='js/detail.js') }}"></script>    
  <script src="{{ url_for('static', filename='js/fetch.js') }}"></script>    
  <script src="{{ url_for('static', filename='js/hotkey-mapper.js') }}" defer></script>    
  <script src="{{ url_for('static', filename='js/keyDown.js') }}" defer></script>    
  <script src="{{ url_for('static', filename='js/help.js') }}"></script>
</body>

</html>
